.error{ color: #f00; }
.dragarea{
    /* font-size: 15px; */
    /* border: 1px dashed #bbb;  */
    padding: 10px ;
    /* background-color: #fff;
    color: #bbb; */
}

.dragarea a{
    font-size: 10px;
}
.droparea{
    /* font-size: 15px; */
    border: 1px dashed #bbb; 
    padding: 10px ;
    /* background-color: #eff;
    color: #aaa; */
}