<mat-form-field>
    <input 
        matInput 
        #box
        [matAutocomplete]="suggestList" 
        (keyup)="stepKeyUp(box.value);" 
        type="text" 
        placeholder="{{placeholderInput}}"
        value={{inputValue}}
        >
</mat-form-field>

<!-- [ngModel]=inputValue -->
<!-- value={{inputValue}} -->

<mat-autocomplete #suggestList="matAutocomplete" [displayWith]="displaySuggest">
    <mat-option (onSelectionChange)="suggestlistSelectionChanged(suggest)" *ngFor="let suggest of suggestlist" [value]="suggest">
        {{ suggest.formatted_address }}
    </mat-option>
</mat-autocomplete>