<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon (click)="backToPlannings()">keyboard_backspace</mat-icon>
    <span class="overview-title">{{plan.title}}</span>
  </mat-toolbar-row>
</mat-toolbar>
<!-- 
<span (click)="backToPlannings()"> back</span>
<h1>{{plan.title}} </h1> -->


<div *ngIf="step">
  <h3 (click)="step.edit = true;" *ngIf="!step.edit">
    {{step.title}} ({{step.days}} days)
  </h3>
  <div *ngIf="step.edit">
    <places-input [showMap]="false" [onlyGeoref]="true" [useGoogle]="true" #stepTitleBox [inputValue]="step.title" placeholderInput="Next Stop" (selectionChanged)="stepSelectionUpdate($event)"></places-input>
    <input [(ngModel)]="step.days" type="number" />
    <button (click)="stepUpdate(step);step.edit = false;">Done</button>
    <button (click)="removeStep(i);">Remove</button>
  </div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Todos</mat-card-title>
    </mat-card-header>

    <!-- <agm-map #agmmap *ngIf="step.location" [latitude]="step.location.lat" [longitude]="step.location.lng" [zoom]="12">
      <agm-marker *ngFor="let todo of getTodosWithLocation(step.todos)" [latitude]="todo.location.lat" [longitude]="todo.location.lng"></agm-marker>
    </agm-map> -->

    <mat-card-content>
      <step-list [plan]="plan" [step]="step"></step-list>
    </mat-card-content>
    <mat-card-footer>

    </mat-card-footer>
  </mat-card>
</div>