
<span (click)="backToPlannings()"> back</span>
<h1>{{plan.title}} </h1>


<div *ngIf="step">
    <h3 (click)="step.edit = true;" *ngIf="!step.edit">
        {{step.title}} ({{step.days}} days)
    </h3>
    <div *ngIf="step.edit">
        <places-input
            placeholderInput="Where?"
            (selectionChanged)="placesSelectionUpdate($event, i)"
        ></places-input>
        <input [(ngModel)]="step.days" type="number" (ngModelChange)="planChanged();" />
        <button (click)="step.edit = false;">Done</button>
        <button (click)="removeStep(i);">Remove</button>
    </div>
    <mat-card>
        <mat-card-header>
            <mat-card-title></mat-card-title>
        </mat-card-header>

        <agm-map [latitude]="step.location.lat" [longitude]="step.location.lng" [zoom]="12">
            <agm-marker [latitude]="step.location.lat" [longitude]="step.location.lng"></agm-marker>
            <agm-marker *ngFor="let todo of getTodosWithLocation(step.todos)" [latitude]="todo.location.lat" [longitude]="todo.location.lng"></agm-marker>
        </agm-map>

        <mat-card-content>
            <mat-list>
                <mat-list-item *ngFor="let todo of step.todos; let i = index;">
                    <span>{{todo.title}}</span>
                    <button mat-mini-fab color="warn" (click)="removeTodo(i, step)">Remove</button>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-footer>
            <places-input style="width: 100%"
                placeholderInput="Next Todo .."
                (selectionChanged)="placesSelectionChanged($event)"
            ></places-input>
            <button mat-raised-button (click)="addTodo(step);">add todo</button>

            <app-file-upload 
            [(plan)]="plan._id"
            (saveCallback)="addFilesToStep($event, step._id)"
            maxFiles="4"
            maxSize="2"
            fileExt="JPG, GIF, PNG, PDF"
            infoText="Drop your hotel, guesthouse etc. confirmations here" >
            </app-file-upload>
            <div>
                <ul *ngIf="step.files">
                    <li *ngFor="let file of step.files; let i = index">
                        <span (click)="downloadFile(file)">{{i + 1}}. {{file.filename}}</span> <button (click)="deleteFileFromStep(i, step._id)">delete</button>
                    </li>
                </ul>
            </div>
        </mat-card-footer>
    </mat-card>
</div>