

<div>
    <mat-list *ngIf="step.files">
        
        <mat-list-item *ngFor="let file of step.files; let i = index">
            <span (click)="downloadFile(file)">{{file.filename}}</span> 
            <button *ngIf="showUploadBox" mat-icon-button (click)="deleteFileFromStep(i, step)">
                <mat-icon>delete_forever</mat-icon>
            </button>
        </mat-list-item>
    </mat-list>
</div>

<app-file-upload *ngIf="showUploadBox" [(plan)]="plan._id" (saveCallback)="addFilesToStep($event, step)" maxFiles="4" maxSize="2"
fileExt="JPG, GIF, PNG, PDF" infoText="Documents, Confirmations etc.">
</app-file-upload>
