<div *ngIf="plan">
    <h1>Planning - {{plan.title}}</h1>
</div>

<label>Start</label>
<mat-form-field>
<input 
    matInput
    [matDatepicker]="startDatePicker"
    [ngModel]="plan.startDate | date:'yyyy-MM-dd'" 
    (ngModelChange)="plan.startDate=$event;planChanged();"
    placeholder="When do you wanna start"
    >
</mat-form-field>
<mat-datepicker-toggle [for]="startDatePicker"></mat-datepicker-toggle>
<mat-datepicker #startDatePicker></mat-datepicker>


<!-- 
<input 
[matDatepicker]="startDatePicker"
[ngModel]="plan.startDate | date:'yyyy-MM-dd'" 
(ngModelChange)="plan.startDate=$event;planChanged();"
type="date" 
placeholder="When do you wanna start"
>
 -->

<label>End</label>
<mat-form-field>
        <input 
            matInput
            [matDatepicker]="endDatePicker"
            [ngModel]="plan.endDate | date:'yyyy-MM-dd'" 
            (ngModelChange)="plan.endDate=$event;planChanged();"
            placeholder="When do you have to go"
            >
        </mat-form-field>
        <mat-datepicker-toggle [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
<!-- <input [ngModel]="plan.endDate | date:'yyyy-MM-dd'" (ngModelChange)="plan.endDate=$event;planChanged();" type="date" placeholder="When do you have to go"
/> -->

<h2>Stops</h2>

<mat-form-field>
    <input 
        matInput
        [matAutocomplete]="suggestList"
        #box 
        [(ngModel)]="stepTitle" 
        (keyup)="stepKeyUp(box.value);" 
        type="text" 
        placeholder="where do you wanna stop?"
        >
</mat-form-field>
<mat-autocomplete #suggestList="matAutocomplete" [displayWith]="displaySuggest">
    <mat-option *ngFor="let suggest of suggestlist" [value]="suggest">
        {{ suggest.name }}
    </mat-option>
</mat-autocomplete>

<mat-form-field>
    <input 
        matInput
        [(ngModel)]="stepDays"
        type="number" 
        placeholder="How many days you wanna stop?"
        >
</mat-form-field>
    <!-- <mat-autocomplete #suggestList="matAutocomplete" [displayWith]="displaySuggest">
        <mat-option *ngFor="let suggest of suggestlist" [value]="suggest">
            {{ suggest.name }}
        </mat-option>
    </mat-autocomplete> -->
<!-- <input [(ngModel)]="stepDays" placeholder="how many days you wann stop?" type="number" /> -->
<button (click)="addStep(stepTitle, stepDays)">Add</button>

<div *ngIf="plan.steps">
    <ul>
        <li *ngFor="let step of plan.steps; let i = index;">
            <div (click)="step.edit = true;" *ngIf="!step.edit">
                <p>{{step.title}} ({{step.days}} days)</p>
            </div>
            <div *ngIf="step.edit">
                <input [(ngModel)]="step.title" (ngModelChange)="planChanged();" />
                <input [(ngModel)]="step.days" type="number" (ngModelChange)="planChanged();" />
                <button (click)="step.edit = false;">Done</button>
                <button (click)="removeStep(i);">Remove</button>
            </div>
            <ul>
                <li *ngFor="let todo of step.todos; let i = index;">
                    <span>{{todo.title}}</span><button (click)="removeTodo(i, step)">Remove</button>
                </li>
            </ul>
            <div>
                    <mat-form-field>
                        <input 
                            matInput
                            [(ngModel)]="step.todoTitle"
                            type="text" 
                            placeholder="What's the next Todo .."
                            >
                    </mat-form-field>
                <!-- <input [(ngModel)]="step.todoTitle" placeholder="What's the next Todo .." type="text" /> -->
                <button (click)="addTodo(step.todoTitle, step);">add todo</button>
            </div>
        </li>
    </ul>
</div>
