<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>

  <h3>
    With plan it you can plan your next awesome trip ... 
    You can plan your routes, invite your travel mates, 
    add documents, share images you made,
    calculate costs and see a weather forecast.
  </h3>

  <h4>At the moment you can only login with your google account. More Provider will be added soon ...</h4>

  <h4><a target="_self" rel="noopener" href="http://localhost:4200/auth/google">Login with Google</a></h4>

</div>
  
  
