<div>
    Money
</div>
<div>
    <mat-form-field>
        <input matInput #forBox type="text" placeholder="What for?">
    </mat-form-field>
    <mat-form-field>
        <input matInput #amoutBox type="number" placeholder="How much Money?">
    </mat-form-field>
    <button (click)="addCosts(forBox.value, amoutBox.value)">Add</button>
</div>
<ul>
    <li *ngFor="let cost of plan.costs; let i = index;">
        <span>{{cost.amount}}</span>
        <span>{{cost.for}}</span>
        <span>{{cost.from.email}}</span>
        
        <button (click)="deleteCost(i)">delete</button>
    </li>
</ul>