<div>
    Money
</div>
<div>
    <mat-form-field>
        <input matInput #fromBox type="text" placeholder="From?" [matAutocomplete]="fromUsers">
    </mat-form-field>
    <mat-autocomplete #fromUsers="matAutocomplete" [displayWith]="displayWithDisplayName">
        <mat-option (onSelectionChange)="fromSelectionChange(user)" *ngFor="let user of plan.users" [value]="user">
            {{ user.displayName }}
        </mat-option>
    </mat-autocomplete>
    <mat-form-field>
        <input matInput #forBox type="text" placeholder="What for?">
    </mat-form-field>
    <mat-form-field>
        <input matInput #amoutBox type="number" placeholder="How much Money?">
    </mat-form-field>
    <button (click)="addCosts(forBox.value, amoutBox.value)">Add</button>
</div>
<ul>
    <li *ngFor="let cost of plan.costs; let i = index;">
        <span>{{cost.amount}}</span>
        <span>{{cost.for}}</span>
        <span>{{cost.from.displayName}}</span>
        
        <button (click)="deleteCost(i)">delete</button>
    </li>
</ul>

<span>total costs: {{totalCosts}} (per person: {{costPerPerson}})</span>
<ul>
    <li *ngFor="let costShare of costShares; let i = index;">
        <span>{{costShare.name}} owes {{costShare.totalAmount}} to:</span>
        <ul>
            <li *ngFor="let owe of costShare.owes; let i = index;">
                <span>{{owe.name}}: </span>
                <span>{{owe.amount}}</span>
            </li>
        </ul>
    </li>
</ul>