
<h1>{{plan.title}}</h1>
<span *ngFor="let user of plan.users" >
    <img [src]="user.picture" height="50" [title]="user.email" />
    <span (click)="">X</span>
</span>

<br />
<button (click)="sharePlan()">Share</button>

<hr>

<label>Start</label>
<mat-form-field>
    <input matInput [matDatepicker]="startDatePicker" [ngModel]="plan.startDate | date:'yyyy-MM-dd'" (ngModelChange)="plan.startDate=$event;planChanged();"
        placeholder="When do you wanna start">
</mat-form-field>
<mat-datepicker-toggle [for]="startDatePicker"></mat-datepicker-toggle>
<mat-datepicker #startDatePicker></mat-datepicker>


<label>End</label>
<mat-form-field>
    <input matInput [matDatepicker]="endDatePicker" [ngModel]="plan.endDate | date:'yyyy-MM-dd'" (ngModelChange)="plan.endDate=$event;planChanged();"
        placeholder="When do you have to go">
</mat-form-field>
<mat-datepicker-toggle [for]="endDatePicker"></mat-datepicker-toggle>
<mat-datepicker #endDatePicker></mat-datepicker>


<h2>Stops</h2>

<mat-form-field>
    <input matInput [matAutocomplete]="suggestList" #box (keyup)="stepKeyUp(box.value);" type="text" placeholder="where do you wanna stop?">
</mat-form-field>
<mat-autocomplete #suggestList="matAutocomplete" [displayWith]="displaySuggest">
    <mat-option (onSelectionChange)="suggestlistSelectionChanged(suggest)" *ngFor="let suggest of suggestlist" [value]="suggest">
        {{ suggest.description }}
    </mat-option>
</mat-autocomplete>

<mat-form-field>
    <input matInput [(ngModel)]="stepDays" type="number" placeholder="How many days you wanna stop?">
</mat-form-field>
<button (click)="addStep(selectedSuggestion, stepDays)">Add</button>

<app-file-upload 
[(plan)]="plan._id"
(saveCallback)="addFilesToPlan($event, plan._id)"
maxFiles="4"
maxSize="2"
fileExt="JPG, GIF, PNG, PDF" >
</app-file-upload>

<div>
    <ul *ngIf="plan.files">
        <li *ngFor="let file of plan.files; let i = index">
            <span (click)="downloadFile(file)">{{i + 1}}. {{file.filename}}</span>
            <button (click)="deleteFileFromPlan(i)">delete</button>
        </li>
    </ul>
</div>

<div *ngIf="plan.steps">
    <div *ngFor="let step of plan.steps; let i = index;">
        <h3 (click)="step.edit = true;" *ngIf="!step.edit">
            {{i + 1}}. {{step.title}} ({{step.days}} days)
        </h3>
        <div *ngIf="step.edit">
            <input [(ngModel)]="step.title" (ngModelChange)="planChanged();" />
            <input [(ngModel)]="step.days" type="number" (ngModelChange)="planChanged();" />
            <button (click)="step.edit = false;">Done</button>
            <button (click)="removeStep(i);">Remove</button>
        </div>
        <mat-card>
            <mat-card-header>
                <mat-card-title></mat-card-title>
            </mat-card-header>

            <agm-map [latitude]="step.location.lat" [longitude]="step.location.lng" [zoom]="12">
                <agm-marker [latitude]="step.location.lat" [longitude]="step.location.lng"></agm-marker>
                <agm-marker *ngFor="let todo of step.todos" [latitude]="todo.location.lat" [longitude]="todo.location.lng"></agm-marker>
            </agm-map>

            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let todo of step.todos; let i = index;">
                        <span>{{todo.title}}</span>
                        <button mat-mini-fab color="warn" (click)="removeTodo(i, step)">Remove</button>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-card-footer>
                <mat-form-field>
                    <input #todoTitle [matAutocomplete]="todoSuggestList" (keyup)="stepKeyUp(todoTitle.value);" matInput type="text" placeholder="What's the next Todo .."
                    />
                </mat-form-field>
                <mat-autocomplete #todoSuggestList="matAutocomplete" [displayWith]="displaySuggest">
                    <mat-option (onSelectionChange)="suggestlistSelectionChanged(suggest)" *ngFor="let suggest of suggestlist" [value]="suggest">
                        {{ suggest.description }}
                    </mat-option>
                </mat-autocomplete>
                <button mat-raised-button (click)="addTodo(selectedSuggestion, step);">add todo</button>

                <app-file-upload 
                [(plan)]="plan._id"
                (saveCallback)="addFilesToStep($event, step._id)"
                maxFiles="4"
                maxSize="2"
                fileExt="JPG, GIF, PNG, PDF" >
                </app-file-upload>
                <div>
                    <ul *ngIf="step.files">
                        <li *ngFor="let file of step.files; let i = index">
                            {{i + 1}}. {{file.filename}} <button (click)="deleteFileFromStep(i, step._id)">delete</button>
                        </li>
                    </ul>
                </div>
            </mat-card-footer>
        </mat-card>
    </div>
</div>